%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width=>"100%"}
  %tr
    %td.top_scale{:valign => "top"}
      = render :partial => "users/pic", :locals => {:user => ad.user}
    %td{:valign => "top"}
      = tr("{user_name} asks you to consider {idea_name}", "view/ads/_show", :user_name => link_to(ad.user.name, ad.user), :idea_name => link_to(ad.idea.name, ad.idea))
      - if ad.has_content?
        .notification_show_message
          "#{h(ad.content)}"
          %span.show_all_ads
    %td{:valign => "top"}
      .notification_show_footer
        %span{:id => "idea_#{ad.idea.id}_button_small"}
          %span.idea_add{:id => "idea_add_endorse_#{ad.idea.id}"}
            = link_to tr("endorse", "view/ads/_show"), endorse_idea_path(ad.idea, :referral_id => ad.user, :region => "ad_top", :value => 1, :ad_id => ad),     |
              :method => :post,                                                                                                                                         |
              :remote=>true,                                                                                                                                            |
              'data-disable-with' => '<span class="encouragement_click idea_add_link idea_add_working"><img src="/assets/ajax/horizontal_small.gif" /></span>', |
              'data-loader-name' => "no_loader",                                                                                                                        |
              :class => "idea_add_link", :title => tr("I support this, add it to my idea list", "view/ads/_show")                                               |
          %span.endorse_or
            = tr("OR", "view/ads/_show")
          %span.idea_add{:id => "idea_add_oppose_#{ad.idea.id}"}
            = link_to tr("oppose", "view/ads/_show"), endorse_idea_path(ad.idea, :referral_id => ad.user, :region => "ad_top", :value => -1, :ad_id => ad),     |
              :method => :post,                                                                                                                                         |
              :remote=>true,                                                                                                                                            |
              'data-disable-with' => '<span class="encouragement_click idea_add_link idea_add_working"><img src="/assets/ajax/horizontal_small.gif" /></span>', |
              'data-loader-name' => "no_loader",                                                                                                                        |
              :class => "idea_add_link", :title => tr("I oppose this, and want to add my opposition to my idea list.", "view/ads/_show")                        |
        - unless ad.new_record?
          %span.tag_button.tag_scale{:id => "notification_show_#{ad.idea.id}_skip"}
            = link_to tr("Skip", "view/ads/_show"), skip_idea_ad_path(ad.idea,ad),                                                  |
              :method => :post,                                                                                                             |
              :remote=>true,                                                                                                                |
              'data-disable-with' => '<span class="tag_scale idea_add_working"><img src="/assets/ajax/horizontal_small.gif" /></span>', |
              'data-loader-name' => "no_loader"                                                                                             |
      .notification_show_counts
        = render :partial => "ideas/endorsement_count", :locals => {:idea => ad.idea }
