- if point.is_up?
  - if false and point.has_other_priority?
    = tr("Point supporting {priority_name} and {other_priority_name}:", "view/points/_intro", :priority_name => link_to(point.priority.name, top_points_priority_url(point.priority)) )
  - else
    = tr("Point supporting {priority_name}:", "view/points/_intro", :priority_name => link_to(point.priority.name, top_points_priority_url(point.priority)))
- elsif point.is_down?
  - if false and point.has_other_priority?
    = tr("Point opposing {priority_name} and supporting {other_priority_name}:", "view/points/_intro", :priority_name => link_to(point.priority.name, top_points_priority_url(point.priority)), :other_priority_name => link_to(point.other_priority.name, top_points_priority_url(point.other_priority)))
  - else
    = tr("Point opposing {priority_name}:", "view/points/_intro", :priority_name => link_to(point.priority.name, top_points_priority_url(point.priority)))
- else
  - if false and point.has_other_priority?
    = tr("Point about {priority_name} and {other_priority_name}:", "view/points/_intro", :priority_name => link_to(point.priority.name, top_points_priority_url(point.priority)), :other_priority_name => link_to(point.other_priority.name, top_points_priority_url(point.other_priority)))
  - else
    = tr("Point about {priority_name}:", "view/points/_intro", :priority_name => link_to(point.priority.name, top_points_priority_url(point.priority)))
