- if point
  - quality = nil
  - if @qualities
    - quality = @qualities.detect {|e| e.point_id == point.id }
  .point_item
    %p= link_to_unless_current tg(h(point.name)), point
    = render :partial=>"points/report_content", :locals=>{:point=>point}
    = render :partial=>"points/flagged", :locals=>{:point=>point}
    .scale{:style => "height: 4px;"}
    .point_byline
      = tr("by {author_sentence}", "view/points/_long_list", :author_sentence => point.author_sentence)
      \&middot; #{tr("added {time_ago}", "view/points/_long_list", :time_ago => time_ago(point.created_at))}
      %span.point_edit
        - if point.discussions_count > 0
          = link_to tr("{count} discussions", "view/points/_long_list", :count => point.discussions_count), discussions_point_url(point)
        - else
          = link_to tr("Discuss", "view/points/_long_list"), discussions_point_url(point)
        eða
        \#{link_to tr("Edit", "view/points/_long_list"), new_point_revision_url(point), :title => tr("Can you make this point more persuasive? Go ahead, change it!", "view/points/_long_list")}
    %p= tg(point.content_html)
    %p/
    .point_qualities
      = render :partial => "points/button_small", :locals => {:newest_points=>defined?(newest_points) ? true : false, :point => point, :quality => quality}
