.idea_name{:id => "idea_#{idea.id}_name"}
  = link_to_unless_current tg(h(idea.name)), idea.show_url, :class => "idea_name_link"
  = render :partial=>"ideas/flagged", :locals=>{:idea=>idea}
  :javascript
    $(function(){
        $('#action_insert').replaceWith($('#idea_flag_#{idea.id.to_s}'));
    });
.category
  = render :partial=>"ideas/report_content", :locals=>{:idea=>idea}
%p
  = idea.description