%span{:class => "idea_#{idea.id.to_s}_button_small", :id => "idea_#{idea.id.to_s}_button_small"}
  - unless @geoblocked
    %div{:style => "width:400px;overflow:hidden;"}
    - if endorsement and endorsement.status == 'active'
      - if endorsement.is_up?
        %div.idea_add_link1
          = tr("ENDORSED", "view/ideas/_button_small")
          = link_to "&nbsp;x".html_safe, endorsement_path(endorsement, :region => region),                                       |
              :method => :delete,                                                                                                  |
              :remote=>true,                                                                                                       |
              'data-disable-with' => "",                                                                                           |
              'data-loader-name' => "spinner",                                                                                     |
              :class => "idea_remove_link", :title => tr("Remove from my list of ideas", "view/ideas/_button_small") |
        %div.debate_button{:id=>"debate_button_#{idea.id}"}
          = tr("DEBATE", "view/ideas/_button_small")
        %div
          = image_tag("buttons/oppose_grey.png", :align => "center", :border => 0, :id=>"debate_button_#{idea.id}")
      - else
        %div
          = image_tag("buttons/endorse_grey.png", :align => "center", :border => 0, :id=>"debate_button_#{idea.id}")
        %div.debate_button{:id=>"debate_button_#{idea.id}"}
          = tr("DEBATE", "view/ideas/_button_small")
        %span.idea_add_link2
          = tr("OPPOSED", "view/ideas/_button_small")
          = link_to "&nbsp;x".html_safe, endorsement_path(endorsement, :region => region),     |
              :method => :delete,                                                                |
              :remote=>true,                                                                     |
              'data-disable-with' => "",                                                         |
              'data-loader-name' => "spinner",                                                   |
              :class => "idea_remove_link",                                                  |
              :title => tr("Remove from my list of ideas", "view/ideas/_button_small") |
    - else
      %span.idea_add{:id => "idea_add_endorse_#{idea.id.to_s}"}
        = link_to tr("endorse", "view/ideas/_button_small"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => 1), |
            :method => :post,                                                                                                                                        |
            :remote => true,                                                                                                                                         |
            'data-loader-name' => "no_loader",                                                                                                                       |
            'data-disable-with' => '<span class=""><img src="/assets/ajax/horizontal_small.gif" /></span>',                   |
            :class => "idea_add_link1", :title =>  tr("I support this, add it to my idea list", "view/ideas/_button_small")                             |
      %div.debate_button{:id=>"debate_button_#{idea.id}"}
        = tr("DEBATE", "view/ideas/_button_small")
      %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
        = link_to tr("oppose", "view/ideas/_button_small"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => -1), |
            :method => :post,                                                                                                                                        |
            :remote => true,                                                                                                                                         |
            'data-loader-name' => "no_loader",                                                                                                                       |
            'data-disable-with' => '<span class="idea_add_link2 idea_add_working"><img src="/assets/ajax/horizontal_small.gif" /></span>',                   |
            :class => "idea_add_link2", :title =>  tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas/_button_small")      |
