- standard_width = 90
%span{:class => "idea_#{idea.id.to_s}_button_small", :id => "idea_#{idea.id.to_s}_button_small"}
  - unless @geoblocked
    %div{:style => "width:400px;overflow:hidden;"}
    - if endorsement and endorsement.status == 'active'
      - if endorsement.is_up?
        %table.debate_buttons_table
          %tr
            %td{:width=>standard_width}
              %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
                = link_to tr("ENDORSED", "view/ideas"), endorsement_path(endorsement, :region => region),     |
                  :method => :delete,                                                                |
                  :remote=>true,                                                                     |
                  'data-disable-with' => "",                                                         |
                  'data-loader-name' => "spinner",                                                   |
                  :class => "idea_add_link1",                                                  |
                  :title => tr("Remove from my list of ideas", "view/ideas") |
            %td{:width=>standard_width}
              %span.debate_button{:id=>"debate_button_#{idea.id}"}
                = tr("DEBATE", "view/ideas")
            %td{:width=>standard_width}
              %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
                = link_to tr("OPPOSE", "view/ideas"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => -1), |
                    :method => :post,                                                                                                                                        |
                    :remote => true,                                                                                                                                         |
                    'data-loader-name' => "circle",                                                                                                                       |
                    'data-disable-with' => '',                   |
                    :class => "idea_add_link2 oppose_grey", :title =>  tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas")      |
      - else
        %table.debate_buttons_table
          %tr
            %td{:width=>standard_width}
              %span.idea_add.endorse_grey{:id => "idea_add_endorse_#{idea.id.to_s}"}
                = link_to tr("ENDORSE", "view/ideas"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => 1), |
                    :method => :post,                                                                                                                                        |
                    :remote => true,                                                                                                                                         |
                    'data-loader-name' => "circle",                                                                                                                       |
                    'data-disable-with' => '',                   |
                    :class => "idea_add_link1 endorse_grey", :title =>  tr("I support this, add it to my idea list", "view/ideas")                             |
            %td{:width=>standard_width}
              %div.debate_button{:id=>"debate_button_#{idea.id}"}
                = tr("DEBATE", "view/ideas")
            %td{:width=>standard_width}
              %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
                = link_to tr("OPPOSED", "view/ideas"), endorsement_path(endorsement, :region => region),     |
                  :method => :delete,                                                                |
                  :remote=>true,                                                                     |
                  'data-disable-with' => "",                                                         |
                  'data-loader-name' => "spinner",                                                   |
                  :class => "idea_add_link2",                                                  |
                  :title => tr("Remove from my list of ideas", "view/ideas") |
    - else
      %table.debate_buttons_table
        %tr
          %td{:width=>standard_width}
            %span.idea_add{:id => "idea_add_endorse_#{idea.id.to_s}"}
              = link_to tr("ENDORSE", "view/ideas"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => 1), |
                  :method => :post,                                                                                                                                        |
                  :remote => true,                                                                                                                                         |
                  'data-loader-name' => "circle",                                                                                                                       |
                  'data-disable-with' => "<id style='width: 90px;'></id>",                   |
                  :class => "idea_add_link1", :title =>  tr("I support this, add it to my idea list", "view/ideas")                             |
          %td{:width=>standard_width}
            %div.debate_button{:id=>"debate_button_#{idea.id}"}
              = tr("DEBATE", "view/ideas")
          %td{:width=>standard_width}
            %span.idea_add{:id => "idea_add_oppose_#{idea.id.to_s}"}
              = link_to tr("OPPOSE", "view/ideas"), endorse_idea_path(idea, :referral_id => (@user || nil), :region => region, :value => -1), |
                  :method => :post,                                                                                                                                        |
                  :remote => true,                                                                                                                                         |
                  'data-loader-name' => "circle",                                                                                                                       |
                  'data-disable-with' => '',                   |
                  :class => "idea_add_link2", :title =>  tr("I oppose this, and want to add my opposition to my idea list.", "view/ideas")      |
    = render :partial => "ideas/debate_button_javascript", :locals => { :idea => idea }
