- if endorsements
  - endorsement = endorsements.detect {|e| e.idea_id == idea.id }
= render :partial => "ideas/debate_button_javascript", :locals => { :idea => idea }
%table
  %tr
    %td{:width => "20"}
    - if defined? timeago
      %td{:style => "width:50px"}
        %table
          %tr
            %td.category_icon
              - if idea.category and idea.category.icon
                = image_tag idea.category.icon.url(:icon_50), :size => "50x50", :border => 0
          %tr
            %td
              %span.idea_added
                = time_ago(idea.created_at)
    - else
      %td.category_icon
        - if idea.category and idea.category.icon
          = image_tag idea.category.icon.url(:icon_50), :size => "50x50", :border => 0
    %td{:width => "5"}
      = render :partial => "ideas/rank_week_month", :locals => {:idea => idea }
    %td.left_scale{:colspan => "3", :valign => "top"}
      .top_level_idea_listing{:id => "idea_#{idea.id}"}
        = render :partial => "ideas/listing", :locals => {:idea => idea, :endorsement => endorsement, :value => 0}
