= render :partial => "header"
= render :partial => "nav"
%p
  - if @documents.empty? and not @idea.replaced?
    = tr("No documents yet.", "view/ideas/documents")
    = link_to tr("Add a document", "view/ideas/documents"), new_idea_document_path(@idea)
  - if @documents.any?
    - for document in @documents
      = render :partial => "documents/show", :locals => {:document => document, :idea => @idea}
    = will_paginate(@documents)
