- if Instance.last.layout=="better_iceland"
  - cache(["portlets_issues_list", locale, SubInstance.current_id, @inline_translations_enabled], :expires_in => 5.minutes) do
    - for issue in Tag.most_priorities.item_limit(portlet.portlet_template.item_limit)
      .priority_listing
        %span.priority_name
          %a{:href => "/issues/#{issue.slug}"}= tr(issue.title, "model/category")
        - if issue.attribute_present?("description")
          = h(issue.description)
        .priority_action
          %a{:href => "/issues/#{issue.slug}"}= tr("{count} priorities", "view/portal/portlets", :count => issue.priorities_count)
          - if issue.points_count > 0
            \&middot;
            %a{:href => "/issues/#{issue.slug}/points"}= tr("{count} points", "view/portal/portlets", :count => issue.points_count)
          - if issue.discussions_count > 0
            \&middot;
            %a{:href => "/issues/#{issue.slug}/discussions"}= tr("{count} discussions", "view/portal/portlets", :count => issue.discussions_count)
    = link_to "#{tr("More", "view/portal/portlets")}...", "/issues/"
- else
  - cache(["portlets_issues_list", locale, SubInstance.current_id, @inline_translations_enabled], :expires_in => 5.minutes) do
    - for issue in Tag.most_priorities.item_limit(portlet.portlet_template.item_limit)
      .priority_listing
        %span.priority_name
          %a{:href => "/issues/#{issue.slug}"}= tr(issue.title, "model/category")
        - if issue.attribute_present?("description")
          = h(issue.description)
        .priority_action
          %a{:href => "/issues/#{issue.slug}"}= tr("{count} priorities", "view/portal/portlets", :count => issue.priorities_count)
          - if issue.points_count > 0
            \&middot;
            %a{:href => "/issues/#{issue.slug}/points"}= tr("{count} points", "view/portal/portlets", :count => issue.points_count)
          - if issue.discussions_count > 0
            \&middot;
            %a{:href => "/issues/#{issue.slug}/discussions"}= tr("{count} discussions", "view/portal/portlets", :count => issue.discussions_count)
    = link_to "#{tr("More", "view/portal/portlets")}...", "/issues/"
