- if portlet_locals[:priorities].any?
  %table.portlet{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    %tr
      %td{:align => "center", :style => "padding-right: 1px;"}
        %span.table_header{:title => "Staða hugmynds"}/
  %td{:style => "padding-left: 1px;"}
    %span.table_header{:title => "Breyting síðan í síðustu viku"}/
  %td{:style => "padding-left: 1px;"}
    %span.table_header{:title => "Breyting síðan í síðusta mánuði"}/
  %td
  %td{:align => "right", :width => "100%"}= rss_url(@rss_url)
  - for priority in portlet_locals[:priorities]
    - if portlet_locals[:endorsements]
      - endorsement = portlet_locals[:endorsements].detect {|e| e.priority_id == priority.id }
    %tr
      %td
        %table{:border => "0"}
          %tr
            = render :partial => "priorities/rank_week_month", :locals => {:priority => priority }
          %tr
            %td{:align => "center", :colspan => "3", :width => "20"}
              .priority_icon_portlet
                - if priority.category and priority.category.icon
                  = link_to (image_tag priority.category.icon.url(:icon_32), :size => "32x32", :border => 0, :alt => ""), priority.category.to_url
      %td{:colspan => "4", :valign => "top"}
        .priority_listing{:id => "priority_#{priority.id}"}
          = render :partial => "portal/portlets/priorities_listing", :locals => {:priority => priority, :endorsement => endorsement, :value => 0}
- if portlet_locals[:more]
  = link_to "#{tr("More", "view/portal/portlets")}...", portlet_locals[:more]
