- cache(["portlets_process_most_popular_videos",locale,SubInstance.current_id,@inline_translations_enabled], :expires_in => 45.seconds) do
  = javascript_include_tag 'jquery.cluetip.js'
  = stylesheet_link_tag 'jquery.cluetip.css'
  - @top_videos = ProcessSpeechVideo.top(9)
  - if @top_videos.length > 0
    %table
      %tr
        - counter = 0
        - @top_videos.each_with_index do |video,i|
          - video.reload
          %td{:valign => "top"}
            = i+1
            \.
          %td
            = video.get_image_tag("nopadding", "smaller","top_video_#{video.id}",true,i+1)
          - counter += 1
          - if counter>2
      %tr
        - counter = 0
%table{:width => "100%"}
  %tr{:align => "left"}
    %td{:align => "left", :style => "padding-left:45px;padding-top:7px;"}
      - form_tag('/process_speech_videos/search') do
        %b= label_tag tr("Search by member of Althingi", "view/portal/portlets")
        = text_field_tag 'search_query'
        = submit_tag tr("Search", "view/portal/portlets")
:javascript
    jQuery(function(){
<haml:silent> 	   @top_videos.each do |video| 
</haml:silent><haml:block>        jQuery("a.top_video_#{video.id}").cluetip({
			splitTitle: "|",
			clickThrough: true,
			arrows: true,
			positionBy: 'mouse'
		});
</haml:block>    });
