- cache(["portlets_process_latest_documents",locale,SubInstance.current_id,@inline_translations_enabled], :expires_in => 3.minutes) do
  - process_documents = ProcessDocument.by_latest.item_limit(portlet.portlet_template.item_limit)
  .althingi_process_container_small
    - unless process_documents.empty?
      .althingi_process_documents_small
        %h3= tr("Althingi process_documents", "view/portal/portlets")
        %table
          %thead
            %tr
              %th.release_date
                = tr("Althingi release date", "view/portal/portlets")
              %th
                = tr("Althingi presenter", "view/portal/portlets")
              %th
                = tr("Version from the public", "view/portal/portlets")
          %tbody
            - process_documents.each do |document|
              %tr{:class => cycle("even", "odd", :name => "zebra")}
                %td
                  = document.external_date.strftime("%d.%m.%Y")
                %td
                  = document.external_author
                %td{:align => "center", :width => "230px"}
                  = document.get_process_document_link
