- cache(["portlets_process_latest_video_discussions",locale,SubInstance.current_id,@inline_translations_enabled], :expires_in => 15.minutes) do
  - @latest_speech_discussions = ProcessSpeechMasterVideo.get_latest_twenty
  - if @latest_speech_discussions.length > 0
    = javascript_include_tag 'jquery.mousewheel.js'
    = javascript_include_tag 'jquery.scrollable-1.0.1.min.js'
    = stylesheet_link_tag 'vertical_video_speeches_scroller_large'
    / navigator
    .navi
    / root element
    %a.prev
    .scrollable_videos_large.vertical
      #latest_video_discussion_thumbs
        - @latest_speech_discussions.each do |process_discussion|
          %div{:onclick => "window.location = '/process_speech_videos/#{process_discussion.process_speech_videos.get_first_published.id}'"}
            %img{:src => process_discussion.process_speech_videos.get_random_published.get_playlist_image_url("small")}/
            %h3= latest_video_speech_title(process_discussion.process_speech_videos.get_random_published)
            %p
              %span
                %em
                  = process_discussion.meeting_date.strftime("%d.%m.%Y")
                  \-
                  %span
                    = process_discussion.process_speech_videos.count
                    - if process_discussion.process_speech_videos.count==1
                      = tr("Speech", "view/portal/portlets")
                    - else
                      = tr("speeches", "view/portal/portlets")
    %p
    %a.next
    :javascript
    jQuery(function(){
        jQuery("div.scrollable_videos_large").scrollable({
            size: 2,
			vertical: true,
            items: '#latest_video_discussion_thumbs',
            hoverClass: 'hover'
        });
    });
    %table{:width => "100%"}
      %tr{:align => "left"}
        %td{:align => "left", :style => "padding-left:45px;padding-top:7px;"}
          - form_tag('/process_speech_videos/search') do
            %b= label_tag tr("Search by member of Althingi", "view/portal/portlets")
            = text_field_tag 'search_query'
            = submit_tag tr("Search", "view/portal/portlets")
