- for issue in issues
  .idea_listing
    %span.idea_name
      = tr(issue.name, "model/category")
    - if issue.attribute_present?("description")
      = h(issue.description)
    .idea_action
      %a{:href => "#{issue.to_url}"}
        = tr("{count} ideas", "view/issues/index", :count => issue.ideas.count)
      - if issue.points_count > 0
        \&middot;
        %a{:href => "#{issue.to_url}/points"}
          = tr("{count} points", "view/issues/index", :count => issue.points_count)
      - if issue.discussions_count > 0
        \&middot;
        %a{:href => "#{issue.to_url}/discussions"}
          = tr("{count} discussions", "view/issues/index", :count => issue.discussions_count)
