- if params[:action] != 'index'
  #nav_sub
    %div{:id => "nav_sub_<haml:silent> if ['yours','network','official','not_official','official_opposed','show','controversial','rising','falling','random','newest','finished'].include?(params[:action]) </haml:silent><haml:block>2</haml:block><haml:silent> elsif ['points'].include?(params[:action]) </haml:silent><haml:block>3</haml:block><haml:silent> elsif ['documents'].include?(params[:action]) </haml:silent><haml:block>4</haml:block><haml:silent> elsif ['discussions'].include?(params[:action]) </haml:silent><haml:block>5</haml:block>"}
      %ul#menu_sub
        %li.tab2
          #issue_nav_name
            = tr(@tag_names, "model/category").titleize
          %span.tab_header
            = link_to tr("{count} ideas", "view/issues/_nav", :count => @ideas_count), :action => "show"
        - if @tag.points_count > 0
          %li.tab3
            %span.tab_header
              = link_to tr("{count} points", "view/issues/_nav", :count => @points_count), :action => "points"
        - if @tag.discussions_count > 0 or @tag.ideas_count > 0
          %li.tab5
            %span.tab_header
              - if @tag.discussions_count > 0
                = link_to tr("{count} discussions", "view/issues/_nav", :count => @discussions_count), :action => "discussions"
              - else
                = link_to tr("Start a discussion", "view/issues/_nav", :count => @tag.discussions_count), :action => "discussions"
  - if ['yours','network','show','controversial','rising','falling','random','newest','finished'].include?(params[:action])
    #nav_third
      %div{:id => "nav_third_<haml:silent> if ['yours'].include?(params[:action]) </haml:silent><haml:block>1</haml:block><haml:silent> elsif ['network'].include?(params[:action]) </haml:silent><haml:block>2</haml:block><haml:silent> elsif ['official','not_official','official_opposed'].include?(params[:action]) </haml:silent><haml:block>3</haml:block><haml:silent> elsif ['show'].include?(params[:action]) </haml:silent><haml:block>4</haml:block><haml:silent> elsif ['controversial'].include?(params[:action]) </haml:silent><haml:block>5</haml:block><haml:silent> elsif ['rising'].include?(params[:action]) </haml:silent><haml:block>6</haml:block><haml:silent> elsif ['random'].include?(params[:action]) </haml:silent><haml:block>7</haml:block><haml:silent> elsif ['newest'].include?(params[:action]) </haml:silent><haml:block>8</haml:block><haml:silent> elsif ['finished'].include?(params[:action]) </haml:silent><haml:block>9</haml:block>"}
        %ul#menu_sub
          %li.tab1
            %span.tab_header
              = link_to tr("Yours", "view/issues/_nav"), :action => "yours"
          %li.tab2
            %span.tab_header
              = link_to tr("Your network", "view/issues/_nav"), :action => "network"
          %li.tab4
            %span.tab_header
              = link_to tr("Top", "view/issues/_nav"), :action => "show"
          %li.tab5
            %span.tab_header
              = link_to tr("Controversial", "view/issues/_nav"), :action => "controversial"
          %li.tab6
            %span.tab_header
              = link_to tr("Rising", "view/issues/_nav"), :action => "rising"
          - if User.adapter != 'postgresql'
            %li.tab7
              %span.tab_header
                = link_to tr("Random", "view/issues/_nav"), :action => "random"
          %li.tab8
            %span.tab_header
              = link_to tr("New", "view/issues/_nav"), :action => "newest"
          %li.tab9
            %span.tab_header
              = link_to tr("Finished", "view/issues/_nav"), :action => "finished"
