#new_user_form
  - if @geoblocked
    = render :partial=>"shared/geoblocking_info"
  - else
    = tr("You can sign up with one click using Facebook, Twitter or GMail or you can sign up below using your own email.", "view/users/_form")
    %br/
    - if current_instance.has_facebook_enabled?
      %div{:style => "margin-bottom: 10px; margin-top: 7px;"}
        = fb_login_and_redirect "/", :text=>tr("Sign in with Facebook","views/shared/_login"), :size=>"small", :title=>tr("Sign in with Facebook","views/shared/_login"), :scope=>"email"
    %p
      - if current_instance.has_twitter_enabled?
        %div{:style => "margin-bottom: 5px;"}
          = link_to image_tag("twitter_signin.png", :border => 0, :title=>tr("Sign in with Twitter","_login")), :controller => "twitter", :action => "create"
      - if current_instance.google_login_enabled
        %div{:style => "margin-bottom: 5px;margin-top: 5px;"}
          = link_to image_tag("logos/Gmail_logo.png", :border => 0, :title=>tr("Sign in with Gmail","_login")), :controller => "open_ids", :action => "new"
          %br/
      = form_for :user,                                        |
        'data-disable-with' => escape_t(tr("Sending","Ajax")), |
        :url => users_path(:region => "short") do |f|          |
        = error_messages_for :user, :header_message => tr("There was a problem creating your account", "view/users/_form")
        .field{:style => "width:300px;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td{:valign => "top"}
                .field_label
                  = tr("First name", "view/users/_form")
                .field_box
                  = f.text_field :first_name, :size => 20
              %td{:style => "padding-left: 3px;", :valign => "top"}
                .field_label
                  = tr("and Last name", "view/users/_form")
                .field_box
                  = f.text_field :last_name, :size => 20
          .small{:style => "margin-bottom: 10px;"}= tr("(Not displayed on the site)", "view/users/_form")
        .field
          .field_label
            = tr("Email address", "view/users/_form")
          .field_box
            = f.text_field :email
          .small{:style => "margin-bottom: 10px;"}= tr("(Never shared without your permission)", "view/users/_form")
        - if Instance.current.layout == "better_reykjavik"
          .field
            .field_label
              = tr("Post code", "view/users/_form")
            .field_box
              = f.text_field :post_code, :size => 5
          .field
            .field_label2
              = tr("Age group", "view/users/_form_long")
            .field_box
              = f.select :age_group, options_for_select([tr("Select age group", "model/user"), tr("12 years and younger", "model/user"),tr("13 to 17 years", "model/user"),tr("18 to 25 years", "model/user"),tr("26 to 69 years", "model/user"),tr("70 years and older", "model/user")], tr("Select age group", "model/user"))
          .field
            .field_label2
              = tr("Gender", "view/users/_form_long")
            .field_box
              = f.select :my_gender, options_for_select([tr("Select gender", "model/user"), tr("Male", "model/user"),tr("Female", "model/user")], tr("Select gender", "model/user"))
        .field{:style => "width:300px; padding-bottom: 10px;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td{:valign => "top"}
                .field_label2= tr("Password", "view/users/_form")
                .field_box
                  = f.password_field :password, :size => 20
              %td{:style => "padding-left: 3px;", :valign => "top"}
                .field_label2= tr("and re-type it", "view/users/_form")
                .field_box
                  = f.password_field :password_confirmation, :size => 20
        .field
          .field_label
            = tr("How should you be identified on the site?", "view/users/_form")
          .field_box
            = f.text_field :login, :maxlength => 40, :size => 30
          .small{:style => "margin-bottom: 10px;"}= tr("(Can be your name, or a pseudonym)", "view/users/_form")
        - if current_sub_instance and current_sub_instance.is_optin?
          = check_box_tag "user[sub_instance_ids][]", current_sub_instance.id, 1
          = current_sub_instance.optin_text
          %span.small{:style => "padding-left:2px;"}
            from
            - if current_sub_instance.has_website?
              %a{:href => current_sub_instance.website_link}= current_sub_instance.name
            - else
              = h(current_sub_instance.name)
            (
            %a{:href => current_sub_instance.privacy_url}>= tr("privacy policy", "view/users/_form")
            )
        :javascript
          var RecaptchaOptions = { theme : 'clean' };
        = recaptcha_tags
        %br/
        = check_box("user", "terms")
        = tr("I accept the terms detailed below.", "view/users/_form")
        %br/
        - if @idea
          - if @value == 1
            = submit_tag tr("Endorse and signup", "view/users/_form"), :class => "submit_button"
          - elsif @value == -1
            = submit_tag tr("Oppose and signup", "view/users/_form"), :class => "submit_button"
          - else
            = submit_tag tr("Signup", "view/users/_form"), :class => "submit_button"
        - else
          = submit_tag tr("Signup", "view/users/_form"), :class => "submit_button"
= render :partial=>"shared/keypad_javascript"
= render :partial => "users/rules_info"
