#new_user_form
  - if @geoblocked
    = render :partial=>"shared/geoblocking_info"
  - else
    = form_for :user, 'data-disable-with' => escape_t(tr("Sending","Ajax")), |
      :url => users_path(:region => "long") do |f|                           |
      = error_messages_for :user, :header_message => tr("There was a problem creating your account", "view/users/_form_long")
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 10px 0; width:500px !important;"}
        %tr
          %td{:valign => "top"}
            .field
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td{:valign => "top"}
                    .field_label
                      = tr("First name", "view/users/_form_long")
                      %span.red *
                    .field_box
                      = f.text_field :first_name, :size => 12
                  %td{:style => "padding-left: 3px;", :valign => "top"}
                    .field_label
                      = tr("and Last name", "view/users/_form_long")
                      %span.red *
                    .field_box
                      = f.text_field :last_name, :size => 15
              .small.scale_bottom
                = tr("(Not displayed on the site)", "view/users/_form_long")
            .field
              .field_label
                = tr("Email address", "view/users/_form_long")
                %span.red *
              .field_box
                = f.text_field :email
              .small
                = tr("(Never shared without your permission)", "view/users/_form_long")
            - if Instance.current.layout == "better_reykjavik"
              .field
                .field_label
                  = tr("Post code", "view/users/_form")
                  %span.red *
                .field_box
                  = f.text_field :post_code, :size => 5
              .field
                .field_label2
                  = tr("Age group", "view/users/_form_long")
                  %span.red *
                .field_box
                  = f.select :age_group, options_for_select([tr("Select age group", "model/user"), tr("12 years and younger", "model/user"),tr("13 to 17 years", "model/user"),tr("18 to 25 years", "model/user"),tr("26 to 69 years", "model/user"),tr("70 years and older", "model/user")], @user ? @user.age_group : tr("Select age group", "model/user"))
              .field
                .field_label
                  = tr("Gender", "view/users/_form_long")
                  %span.red *
                .field_box
                  = f.select :my_gender, options_for_select([tr("Select gender", "model/user"), tr("Male", "model/user"),tr("Female", "model/user")], @user ? @user.my_gender : tr("Select gender", "model/user"))

        %tr
          %td{:style => "padding-left: 0px; padding-top: 10px;", :valign => "top"}
            .field
              .field_label
                = tr("How should you be identified on the site?", "view/users/_form_long")
                %span.red *
              .field_box
                = f.text_field :login, :maxlength => 40, :size => 30
              .small.scale_bottom
                = tr("(Can be your name, or a pseudonym)", "view/users/_form_long")
            .field
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td{:valign => "top"}
                    .field_label
                      = tr("Password", "view/users/_form_long")
                      %span.red *
                    .field_box
                      = f.password_field :password, :size => 13
                  %td{:style => "padding-left: 3px;", :valign => "top"}
                    .field_label
                      = tr("and re-type it", "view/users/_form_long")
                      %span.red *
                    .field_box
                      = f.password_field :password_confirmation, :size => 13
        %tr
          %td{:colspan => "2", :style => "padding-top: 10px;", :valign => "top"}
            :javascript
              var RecaptchaOptions = { theme : 'clean' };
            = recaptcha_tags
            %br/
            = render partial: "rules_info"
            .accept_terms
              = check_box("user", "terms")
              = tr("I accept the terms detailed below", "view/users/_form_long")
            - if @idea
              - if @value == 1
                = submit_tag tr("Endorse and signup", "view/users/_form_long"), :class => "submit_button"
              - elsif @value == -1
                = submit_tag tr("Oppose and signup", "view/users/_form_long"), :class => "submit_button"
              - else
                = submit_tag tr("Signup", "view/users/_form_long"), :class => "submit_button"
            - else
              %div
                = submit_tag tr("Signup", "view/users/_form_long"), :class => "submit_button"
= render :partial=>"shared/keypad_javascript"
