#profile_header
  .profile_picture96
    - if @user.has_picture?
      %a{:href => url_for(@user)}
        = image_tag @user.buddy_icon.url(:icon_96), :size => "96x96", :border => 0
    - elsif current_facebook_user_if_on_facebook and @user.has_facebook?
      %a{:href => url_for(@user)}
        %fb:profile-pic{:border => "0", :linked => "false", :size => "small", :uid => @user.facebook_uid, :width => "96px"}/
    - elsif logged_in? and @user.id == current_user.id
      = link_to image_tag("upload_pic.gif", :size => "96x96", :border => 0), picture_settings_url
    - else
      .image_96
        = image_tag current_instance.buddy_icon.url(:icon_96), :size => "96x96", :border => 0, :alt => ""
  #profile_name
    - if params[:action] == 'show'
      %span.profile_name= @user.name
      %span.profile_pc= link_to @user.capitals_count.to_s + current_instance.currency_short_name, capital_user_url(@user)
    - else
      %span.profile_name= @page_title
  - if @user.has_website? or @user.has_twitter?
    .profile_website
      - if @user.has_website?
        %a{:href => @user.website_link}= @user.website_link
      - if @user.has_website? and @user.has_twitter?
        \&middot;
      - if @user.has_twitter?
        %a{:href => "http://twitter.com/#{@user.twitter_login}"}
          http://twitter.com/#{@user.twitter_login}
  .profile_small
    - if not (logged_in? and current_user == @user)
      %span.users_button{:id => "user_#{@user.id.to_s}_button"}
        = render :partial => "users/button_small", :locals => {:user => @user, :following => @following}
    - if @user.position > 0
      = tr("{position} most influential", "view/users/_header", :position => @user.position)
      \&middot;
    = tr("Joined {time_ago}", "view/users/_header", :time_ago => time_ago(@user.created_at))
    - if @user.attribute_present?("loggedin_at")
      \&middot; #{tr("Last visit {time_ago}", "view/users/_header", :time_ago => time_ago(@user.loggedin_at))}
  .profile-nav
    = render :partial => "users/profile_nav" if current_user and current_user.is_admin?
  %div{:style => "clear:both;"}
