#user_sidebar
  - if @user.endorsements_count > 4
    - if @user.index_7days_delta != 0 or @user.index_30days_delta != 0 or @user.index_24hr_delta != 0
      .heading
        = tr("{user_name} Agenda", "view/users/_left_nav", :user_name => @user.name)
      %br/
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td
            %span.table_header= tr("Yday", "view/users/_left_nav")
          %td{:style => "padding-left: 3px;"}
            %span.table_header= tr("Week", "view/users/_left_nav")
          %td{:style => "padding-left: 3px;"}
            %span.table_header= tr("Month", "view/users/_left_nav")
        %tr
          %td.user_agenda_change{:valign => "top"}
            = agenda_change(@user,'24hr')
          %td.user_agenda_change{:valign => "top"}
            = agenda_change(@user,'7days')
          %td.user_agenda_change{:valign => "top"}
            = agenda_change(@user,'30days')
      %p
        %br/
  - number_of_users_showing = 7
  - if @user.followings_count > 0
    = tr("Following {user_count} users","view/users/_profile_nav", :user_count=>@user.followings_count)
    %br/
    - @user.followings.up.limit(number_of_users_showing).each do |following|
      = link_to following.other_user.login, following.other_user.profile_url
      %br/
    = link_to tr("{user_number} more users...", "view/users/_profile_nav", :user_number=>@user.followings_count-number_of_users_showing), following_user_url(@user) if @user.followings_count>number_of_users_showing
    %br/
  - if @user.followers_count > 0
    = tr("{user_count} users following","view/users/_profile_nav", :user_count=>@user.followers_count)
    %br/
    - @user.followers.up.limit(number_of_users_showing).each do |following|
      = link_to following.user.login, following.user.profile_url
      %br/
    = link_to tr("{user_number} more users...", "view/users/_profile_nav", :user_number=>@user.followers_count-number_of_users_showing), followers_user_url(@user) if @user.followers_count>number_of_users_showing
    %br/
    %br/
