#hp_intro= @page_title
%p
  = tr("Ambassadors are people who recruit others to join {instance_name}", "view/network/ambassadors", :instance_name => tr(current_instance.name,"Name from database"))
  - if logged_in?
    = tr("You can be an ambassador too and earn<span class='pc'>5{currency_short_name}</span> for each person you recruit. Get started by simply <a href='{import_url}'>importing your Google, Yahoo, Windows Live, or Facebook contacts</a>.", "view/network/ambassadors", :instance_name => tr(current_instance.name,"Name from database"), :currency_short_name => current_instance.currency_short_name, :import_url => user_contacts_path(current_user))
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    - for user in @users
      - @row += 1
      %tr
        %td{:valign => "top"}
          .idea_position= @row
        %td.ambassadors_images{:valign => "top", :width => "26"}
          = render :partial => "users/pic", :locals => {:user => user}
        %td{:style => "padding: 5px 5px 4px 0px;", :valign => "top"}
          = link_to user.login, user
          %span.pc
            = user.capitals_count
            = current_instance.currency_short_name
          - if user.referrals_count > 0
            = tr("Recruited {count} members", "view/network/ambassadors", :count => user.referrals_count)
          - if user.referrals_count > 0 and user.contacts_invited_count > 0
            \&middot;
          - if user.contacts_invited_count > 0
            = tr("Invited {count} people", "view/network/ambassadors", :count => user.contacts_invited_count)
          - if user.has_top_idea?
            %br/
            = tr("#1 idea:", "view/network/ambassadors")
            - if user.top_endorsement.is_down?
              %span.opposed= tr("Opposing", "view/network/ambassadors")
            = link_to user.top_endorsement.idea.name, user.top_endorsement.idea
            \.
  %p
    = will_paginate(@users)
