.point_name
  - if revision.is_down?
    %span.opposed= tr("opposed", "view/revisions/_show")
  = link_to_unless_current h(point.name), point
- if point.has_other_idea?
  .point_other
    = tr("Supporting {idea_name}", "view/revisions/_show", :idea_name => link_to(point.other_idea.name, point.other_idea))
.point_content
  = auto_link(revision.content_diff)
- if revision.has_website?
  .point_source
    = tr("Source:", "view/revisions/_show")
    %a{:href => revision.website_link}= truncate(revision.website_link,:length=>70)
