- if ['color_schemes'].include?(params[:controller])
  = stylesheet_link_tag "colorpicker"
= render :partial => "color_schemes/css", :locals => {:id => current_instance.color_scheme_id }
= stylesheet_link_tag "application"

/[if IE]
  = stylesheet_link_tag "iehacks"
/[if IE 7]
  = stylesheet_link_tag "ie7"
