%meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
= javascript_include_tag "slider.js"
= javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
- if controller_name == "process_speech_videos" and action_name == "show"
  = render :partial => "process_speech_videos/share_metadata", :locals => {:process_speech_video=> @process_speech_video }
- elsif controller_name == "processes" and action_name == "show"
  = render :partial => "processes/share_metadata", :locals => {:my_process=> @my_process }
- elsif controller_name == "process_documents" and action_name == "show"
  = render :partial => "process_documents/share_metadata", :locals => {:document=> @document }
- else
  %title= tr("Open Direct Democracy", "view/shared/_idea_processes_head")
:javascript
  