#sidebar
  - if Instance.current.layout == "better_reykjavik"
    - if current_sub_instance
      .reykjavik_icon
        %a{:href => "http://betrireykjavik.is"}= image_tag("/assets/new/betrireykjavik_fra_bh.png", :alt => "betrireykjavik.is")
    - else
      .reykjavik_icon
        %a{:href => "http://www.reykjavik.is"}= image_tag("/assets/new/reykjavik_icon.png", :alt => "www.reykjavik.is")
  - elsif  Instance.current.layout == "your_ideas"
    .yrpri_icon
      %a{:href => "http://yrpri.org"}= image_tag("/assets/logos/default.gif", :alt => "Your Ideas Worldwide")
  = render :partial => "shared/sub_instance_large_flag"
  = render :partial => "shared/search"
  %div
    %ul#menu1
      %li.tab7.mega
        %span.tab_header
          = link_to tr("About", "view/shared/_menu"), "#"
        .tab_body
          .test
            .tab_subhead= link_to tr("About the site", "view/shared/_menu"), :controller => "about"
            .tab_sublinks
              \&middot; #{link_to tr("About", "view/shared/_menu"), :controller => "about"}
              %br/
              - if Instance.current.layout == "better_reykjavik"
                \&middot; #{link_to tr("Reykjavík city council", "view/shared/_menu"), :controller => "about", :action => "council"}
                %br/
              \&middot; #{link_to tr("FAQ", "view/shared/_menu"), :controller => "about", :action => "faq"}
              %br/
              \&middot; #{link_to tr("Rules", "view/shared/_menu"), :controller => "about", :action => "rules"}
              %br/
              \&middot; #{link_to tr("Privacy policy", "view/shared/_menu"), :controller => "about", :action => "privacy"}
              %br/
              \&middot; #{link_to tr("Contributors", "view/shared/_menu"), :controller => "about", :action => "contributors"}
              %br/
            .tab_subhead
              = link_to tr("Charts and stats", "view/shared/_menu"), :controller => "charts", :action => "gainers_24hr"
            .tab_sublinks
              - if current_instance.is_tags?
                \&middot; #{link_to tr("Active categories","view/shared/_menu"), :controller => "charts", :action => "issues"}
                %br/
              \&middot; #{link_to tr("Rising agendas", "view/shared/_menu"), :controller => "charts", :action => "gainers_24hr"}
              %br/
              \&middot; #{link_to tr("Falling agendas", "view/shared/_menu"), :controller => "charts", :action => "losers_24hr"}
            .tab_subhead
              = link_to tr("Widgets for your site", "view/shared/_menu"), :controller => "widgets", :action => "ideas"
            .tab_sublinks
              \&middot; #{link_to tr("Ideas", "view/shared/_menu"), :controller => "widgets", :action => "ideas"}
              %br/
              \&middot; #{link_to tr("Discussions", "view/shared/_menu"), :controller => "widgets", :action => "discussions"}
  = render :partial => "ideas/new_button" unless current_sub_instance and current_sub_instance.status == "inactive"
  = render :partial => "shared/social_media_buttons"
  = render :partial => "shared/rvk_countdown" if Instance.current.layout == "better_reykjavik"
  .userwrap
    = render :partial => "shared/user_info" if logged_in?
    = render :partial => "shared/language_selection_master"
    - if logged_in?
      - if current_user.warnings_count > 0
        #warning
          - if current_user.warnings_count > 1
            = tr("{count} warnings", "view/layouts/basic", :count => current_user.warnings_count)
          - else
            = tr("{count} warning", "view/layouts/basic", :count => current_user.warnings_count)
      = render :partial => "shared/activated"
    - if logged_in?
      = render :partial => "shared/notifications"
    - else
      = render :partial => "users/login"
  - if logged_in?
    #idea_column.userwrap
      = render :partial => "shared/your_ideas"
  - else
    - unless @geoblocked
      #intro
        = tr("<p>Getting involved is easy and fun.  Just join and start setting your ideas, like a to do list.  The more people who make your idea their own idea, the higher it <a href=\"/ideas/rising\">rises in the charts</a>. The more people who <a href=\"/signup\">join the network</a>, the more clout we have to make our agenda happen.</p>", "view/layouts/basic")
  = render :partial => "shared/fb_activity_feed"
  .yourpri_logo
    %a{:href => "http://ibuar.is"}= image_tag("/assets/logo/default.gif", :alt => "shortcut")
