#sib_sub_nav
  %ul
    %li
      = tr(controller_name.camelize,"sub_nav")
    %li.pulldown
      - if @selected_sub_nav_name
        %a{:href => "#", :onclick => "javascript:showSubNavLayer('sub_menu')"}
          = @selected_sub_nav_name
      -else
        %a{:href => "#"}
          = tr(action_name.camelize,"sub_nav")
      - if @sub_menu_items and not @sub_menu_items.empty?
        %ul#sub_menu.submenu
          - @sub_menu_items.each do |menu_item_id, menu_item|
            - if menu_item_id==@selected_sub_nav_item_id
              %li
                %a{:href => menu_item[1]}
                  = menu_item[0]
            - else
              %li.selected
                %a{:href => menu_item[1]}
                  = menu_item[0]
