.nav.nav-user
  %ul
    %li.search
      = render :partial => "shared/search"
    %li.help
      %a.help{:href => "help"}
        %span
          = tr("Help")
    %li.signin
      - unless logged_in?
        %a.signin{:href => "login"}
          = tr("Sign in")
      - else
        %div.signedin
          %div.avatar
            = render :partial => "users/pic_30", :locals => {:user => current_user}
          - if current_user.unread_notifications_count > 0
            %div.notify_box
              %a.notifications{:href => "notifications"}
                = current_user.unread_notifications_count
          %a.profile{:href => "profile"}
            %div
              = current_user.login
    %li.add
      %a.button{:href => "/ideas/new"}
        = tr("New idea")
        %span.icn.icn-add

- if logged_in?
  = render :partial => "shared/user_info"
  = render :partial => "shared/notifications"
- else
  = render :partial => "users/login"

= render :partial => "shared/help"

:javascript
  $(document).ready(function() {

      $("a.signin").click(function(e) {
          e.preventDefault();
          $("#sib_login_form").toggle();
          $(".signin").toggleClass("menu-open");
      });

      $("#sib_login_form").mouseup(function() {
          return false
      });

      $(document).mouseup(function(e) {
          if($(e.target).parent("a.signin").length==0) {
              $(".signin").removeClass("menu-open");
              $("#sib_login_form").hide();
          }
      });

      $("a.notifications").click(function(e) {
          e.preventDefault();
          $("#sib_notifications").toggle();
          $(".notifications").toggleClass("menu-open");
      });

      $("#sib_notifications").mouseup(function() {
          return false
      });
      $(document).mouseup(function(e) {
          if($(e.target).parent("a.notifications").length==0) {
              $(".notifications").removeClass("menu-open");
              $("#sib_notifications").hide();
          }
      });

      $("a.profile").click(function(e) {
          e.preventDefault();
          $("#sib_profile").toggle();
          $(".profile").toggleClass("menu-open");
      });

      $("#sib_profile").mouseup(function() {
          return false
      });
      $(document).mouseup(function(e) {
          if($(e.target).parent("a.profile").length==0) {
              $(".profile").removeClass("menu-open");
              $("#sib_profile").hide();
          }
      });

      $("a.help").click(function(e) {
          e.preventDefault();
          $("#sib_help").toggle();
          $(".help").toggleClass("menu-open");
      });

      $("#sib_help").mouseup(function() {
          return false
      });
      $(document).mouseup(function(e) {
          if($(e.target).parent("a.help").length==0) {
              $(".help").removeClass("menu-open");
              $("#sib_help").hide();
          }
      });

  });
:javascript
  $(function() {
    $('#forgot_username_link').tipsy({gravity: 'w'});
  });

