- cache("total_volume_chart-#{session[:locale]}-#{@inline_translations_enabled}") do
  - volume = IdeaChart.volume(30)
  - if volume.any?
    %tr
      %td{:colspan => "3", :style => "padding-top: 5px; padding-bottom: 2px;"}= tr("VOLUME", "view/shared/_total_volume_chart")
      %td
    %tr
      %td{:colspan => "3", :rowspan => "3", :valign => "top"}
        = image_tag Gchart.line(:size => '130x50', :data => [volume,[0,0]], :bar_colors => "CCCCCC,EEEEEE",  :chart_background => 'EEEEEE', :min_value => 1, :max_value => volume.max, :custom => "chm=b,CCCCCC,0,1,0|b,CC0000,1,2,0&chls=1,1,0|1,1,0|0,1,-1&chg=17,50,1,5"), :title => tr("The total number of endorsements/oppositions each day", "view/shared/_total_volume_chart"), :class => "qtip_left", :size => "130x50"
      %td.chart_label{:height => "17", :valign => "top"}= volume.max
    %tr
      %td.chart_label{:height => "17", :valign => "middle"}= (volume.max*0.5).to_i
    %tr
      %td.chart_label{:height => "16", :valign => "bottom"} 1
