%b>= link_to tr("Top ideas", "view/home/top_issues"), top_ideas_url
\:
%br/
- for tag in @issues
  = tr(tag.title,"model/category")
  \:
  \#{link_to tag.top_idea.name, tag.top_idea}
  %br/
%p
  %b>= link_to tr("Controversial ideas", "view/home/top_issues"), controversial_ideas_url
  \:
  %br/
  - for tag in @issues
    = tr(tag.title,"model/category")
    \:
    \#{link_to tag.controversial_idea.name, tag.controversial_idea}
    %br/
  %p
    %b>= link_to tr("Rising ideas", "view/home/top_issues"), rising_ideas_url
    \:
    %br/
    - for tag in @issues
      = tr(tag.title,"model/category")
      \:
      \#{link_to tag.rising_idea.name, tag.rising_idea}
      %br/
    %p
      %b>= link_to tr("{official_user_name} ideas", "view/home/top_issues", :official_user_name => current_instance.official_user_short_name), official_ideas_url
      \:
      %br/
      - for tag in @issues
        = tr(tag.title,"model/category")
        \:
        \#{link_to tag.official_idea.name, tag.official_idea}
        %br/
