#nav_sub
  %div{:style => "float:right; margin-right: 10px; margin-top: 1px;"}
    = render :partial => "network/find"
  %div{:id => "nav_sub_<haml:silent> if ['following'].include?(params[:action]) </haml:silent><haml:block>1</haml:block><haml:silent> elsif ['index','members','not_invited','invited'].include?(params[:action]) or ['import','facebook'].include?(params[:controller]) </haml:silent><haml:block>2</haml:block><haml:silent> elsif ['new'].include?(params[:action]) </haml:silent><haml:block>3</haml:block>"}
    %ul#menu_sub
      %li.tab1
        %span.tab_header
          = link_to tr("Your network", "view/user_contacts/_nav"), following_user_contacts_path(current_user)
      %li.tab2
        %span.tab_header
          = link_to tr("Find people you know", "view/user_contacts/_nav"), user_contacts_path(current_user)
      %li.tab3
        %span.tab_header
          = link_to tr("Send an invitation", "view/user_contacts/_nav"), new_user_contact_path(current_user)
- if ['index','members','not_invited','invited'].include?(params[:action]) or ['import','facebook'].include?(params[:controller])
  #nav_third
    %div{:id => "nav_third_<haml:silent> if ['google'].include?(params[:action]) </haml:silent><haml:block>1</haml:block><haml:silent> elsif ['yahoo'].include?(params[:action]) </haml:silent><haml:block>2</haml:block><haml:silent> elsif ['windows'].include?(params[:action]) </haml:silent><haml:block>3</haml:block><haml:silent> elsif ['facebook'].include?(params[:controller]) </haml:silent><haml:block>4</haml:block>"}
      %ul#menu_third
        %li.tab1
          %span.tab_header
            = link_to tr("Import your Google contacts", "view/user_contacts/_nav"), :controller => "import", :action => "authenticate_google" unless current_instance.layout=="better_reykjavik"
        - if current_instance.has_yahoo_enabled?
          %li.tab2
            %span.tab_header
              = link_to tr("Yahoo", "view/user_contacts/_nav"), :controller => "import", :action => "yahoo"
        - if current_instance.has_windows_enabled?
          %li.tab3
            %span.tab_header
              = link_to tr("Windows Live", "view/user_contacts/_nav"), :controller => "import", :action => "windows"
        - if current_instance.has_facebook_enabled?
          %li.tab4
            %span.tab_header
              = link_to tr("Facebook", "view/user_contacts/_nav"), :controller => "facebook", :action => "invite"
