%table
  %tr
    %td{:width => "460"}
      #hp_intro= @page_title
      %p
= render :partial => "import_nav", :locals => {:user => current_user }
- if not @users
  %p
    = tr("You are not following anyone yet.", "view/user_contacts/following")
- else
  %p
    = tr("These are the people you're following, ranked by their influence on the site. <br/>You can also <a href='/feed/your_network_activities'>follow their updates in the feed section</a>, or <a href='/ideas/network'>see all their ideas in one list</a>.", "view/user_contacts/following")
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
    %tr
      %td
      %td
        %span.table_header= tr("Rank", "view/user_contacts/following")
      %td{:style => "padding-left: 3px;"}
        %span.table_header= tr("Wk", "view/user_contacts/following")
      %td{:style => "padding-left: 3px;"}
        %span.table_header= tr("Mo", "view/user_contacts/following")
      %td{:colspan => "2", :style => "padding-left: 7px; margin-bottom: 2px;"}
    - for user in @users
      %tr
        %td{:valign => "top"}
        = render :partial => "ideas/rank_week_month", :locals => {:idea => user }
        %td{:style => "padding: 10px 5px 4px 7px;", :valign => "top", :width => "26"}
          = render :partial => "users/pic", :locals => {:user => user}
        %td{:style => "padding: 7px 5px 4px 0px;", :valign => "top"}
          = link_to user.login, user
          %span.pc
            = user.capitals_count
            = current_instance.currency_short_name
          - if user.followers_count > 0
            = tr("{count} followers", "view/user_contacts/following", :count => user.followers_count)
          - if user.has_top_idea?
            %br/
            = tr("#1 idea:", "view/user_contacts/following")
            - if user.top_endorsement.is_down?
              %span.opposed= tr("Opposing", "view/user_contacts/following")
            = link_to user.top_endorsement.idea.name, user.top_endorsement.idea
            \.
  %p
