%span{:class => "priority_#{priority.id.to_s}_button_small", :id => "priority_#{priority.id.to_s}_button_small"}
  - unless @geoblocked
    - if endorsement and endorsement.status == 'active'
      - if endorsement.is_up?
        %span.priority_remove{:id => "priority_remove_endorse_#{priority.id.to_s}"}
          = tr("YOU ENDORSED", "view/priorities/_button_small")
          = link_to "&nbsp;x".html_safe, endorsement_path(endorsement, :region => region),                                       |
            :method => :delete,                                                                                                  |
            :remote=>true,                                                                                                       |
            'data-disable-with' => "",                                                                                           |
            'data-loader-name' => "spinner",                                                                                     |
            :class => "priority_remove_link", :title => tr("Remove from my list of priorities", "view/priorities/_button_small") |
      - else
        %span.priority_remove_oppose{:id => "priority_remove_oppose#{priority.id.to_s}"}
          = tr("YOU OPPOSED", "view/priorities/_button_small")
          = link_to "&nbsp;x".html_safe, endorsement_path(endorsement, :region => region),     |
            :method => :delete,                                                                |
            :remote=>true,                                                                     |
            'data-disable-with' => "",                                                         |
            'data-loader-name' => "spinner",                                                   |
            :class => "priority_remove_link",                                                  |
            :title => tr("Remove from my list of priorities", "view/priorities/_button_small") |
    - else
      %div{:style => "overflow:hidden;"}
        %span.priority_add{:id => "priority_add_endorse_#{priority.id.to_s}"}
          = link_to tr("endorse", "view/priorities/_button_small"), endorse_priority_path(priority, :referral_id => (@user || nil), :region => region, :value => 1), |
            :method => :post,                                                                                                                                        |
            :remote => true,                                                                                                                                         |
            'data-loader-name' => "no_loader",                                                                                                                       |
            'data-disable-with' => '<span class="priority_add_link1 priority_add_working"><img src="/assets/ajax/horizontal_small.gif" /></span>',                   |
            :class => "priority_add_link1", :title =>  tr("I support this, add it to my priority list", "view/priorities/_button_small")                             |
        %span.endorse_or= tr("OR", "view/priorities/_button_small")
        %span.priority_add{:id => "priority_add_oppose_#{priority.id.to_s}"}
          = link_to tr("oppose", "view/priorities/_button_small"), endorse_priority_path(priority, :referral_id => (@user || nil), :region => region, :value => -1), |
            :method => :post,                                                                                                                                        |
            :remote => true,                                                                                                                                         |
            'data-loader-name' => "no_loader",                                                                                                                       |
            'data-disable-with' => '<span class="priority_add_link2 priority_add_working"><img src="/assets/ajax/horizontal_small.gif" /></span>',                   |
            :class => "priority_add_link2", :title =>  tr("I oppose this, and want to add my opposition to my priority list.", "view/priorities/_button_small")      |
      .clear
