%ul
  %li.list_left
    .priority_name{:id => "priority_#{priority.id}_name"}
      - if value < 0
        %span.opposed= tr("opposed", "view/priorities/_listing")
      = link_to_unless_current tg(h(priority.name)), priority.show_url, :class => "priority_name_link"
      = render :partial=>"priorities/flagged", :locals=>{:priority=>priority}
      :javascript
        $(function(){
        	$('#test2').replaceWith($('#priority_flag_#{priority.id.to_s}'));
        });
  %li.list_right
    .category
      = render :partial=>"priorities/report_content", :locals=>{:priority=>priority}
.clear
= render :partial => "priorities/action_show", :locals => {:priority => priority, :endorsement => endorsement, :noaction=> defined?(noaction) ? true : false }
- if priority.status == 'inactive'
  .priority_status
    - if priority.replaced?
      = tr("This priority was replaced by {priority_name}", "view/priorities/_listing", :priority_name => link_to(priority.change.new_priority.name, priority.change.new_priority))
= render :partial => "priorities/tag_show", :locals => { :priority => priority }
- if action_name != "show" and status = priority.priority_status_change_logs.last
  = render partial: "priorities/latest_status_update", locals: { status: status }
