#priority_nav
  %div{:id => "priority_nav<haml:silent> if ['show'].include?(params[:action]) and ['priorities'].include?(params[:controller]) </haml:silent><haml:block>1</haml:block><haml:silent> elsif ['endorsers'].include?(params[:action]) </haml:silent><haml:block>2</haml:block><haml:silent> elsif ['opposers'].include?(params[:action]) </haml:silent><haml:block>3</haml:block><haml:silent> elsif ['everyone_points','neutral_points','opposer_points','endorser_points'].include?(params[:action]) </haml:silent><haml:block>5</haml:block><haml:silent> elsif ['discussions'].include?(params[:action]) </haml:silent><haml:block>6</haml:block><haml:silent> elsif ['changes'].include?(params[:controller]) </haml:silent><haml:block>7</haml:block><haml:silent> elsif ['activities'].include?(params[:action]) </haml:silent><haml:block>8</haml:block><haml:silent> elsif ['edit','update'].include?(params[:action]) </haml:silent><haml:block>9</haml:block>"}
    %ul#priority_menu
      %li.tab1
        %span.tab_header
          = link_to tr("Overview", "view/priorities/_nav"), @priority
      = render :partial => "priorities/endorser_link"
      = render :partial => "priorities/opposer_link"
      - if @priority.points_count > 0
        %li.tab5
          %span.tab_header
            = link_to tr("{count} points", "view/priorities/_nav", :count => @priority.points_count), top_points_priority_url(@priority)
      - else
        %li.tab5
          %span.tab_header
            = link_to tr("New point", "view/priorities/_nav"), new_priority_point_path(@priority)+"?support=1" , :title => tr("Can you make a compelling point for or against this priority in less than 500 characters?", "view/priorities/_nav"), :class => "qtip_left"
      %li.tab6
        %span.tab_header
          - if @priority.discussions_count == 0
            = link_to tr("Discussions", "view/priorities/_nav"), discussions_priority_url(@priority)
          - else
            = link_to tr("{count} discussions", "view/priorities/_nav", :count => @priority.discussions_count), discussions_priority_url(@priority)
      - if false and @priority.changes_count > 0 or params[:controller] == 'changes'
        %li.tab7
          %span.tab_header
            = link_to tr("M&A", "view/priorities/_nav"), priority_changes_url(@priority)
      %li.tab8
        %span.tab_header
          = link_to tr("News", "view/priorities/_nav"), activities_priority_url(@priority)
      - if current_user and current_user.capitals_count>0 and @priority.status == 'published'
        %li.tab8
          %span.tab_header
            = link_to tr("Buy an ad", "view/priorities/_nav"), new_priority_ad_url(@priority), :title => tr("Spend some of your {currency_name} to put this priority at the top of the page for everyone to consider.", "view/priorities/_nav", :currency_name => tr(current_instance.currency_name.downcase,"Currency name from database")), :class => "qtip_left"
      - unless @priority.priority_processes.empty?
        %li.tab9
          %span.tab_header
            = link_to tr("Processes", "view/priorities/_nav"), :controller=>"priority_processes", :action=>"show_all_for_priority", :id=>@priority
      %li.tab12.mega
        %span.tab_header.action
          = link_to tr("Action", "view/priorities/_nav"), new_priority_point_path(@priority)
        .tab_body
          .box_style
            = link_to tr("Add a point", "view/priorities/_nav"), new_priority_point_path(@priority), :title => tr("Can you make a compelling point for or against this priority in less than 500 characters?", "view/priorities/_nav"), :class => "qtip_left"
            %br/
            - if @priority.status == 'published'
              - if 1==2 and (@priority.position < 26 and @priority.position > 0) or @priority.is_buried?
                %span.greyed_out= tr("Buy an ad for this priority", "view/priorities/_nav")
                %br/
              - else
                = link_to tr("Buy an ad for this priority", "view/priorities/_nav"), new_priority_ad_url(@priority), :title => tr("Spend some of your {currency_name} to put this priority at the top of the page for everyone to consider.", "view/priorities/_nav", :currency_name => tr(current_instance.currency_name.downcase,"Currency name from database")), :class => "qtip_left"
                %br/
            - if false and @priority.has_change?
              %span.greyed_out= tr("Propose an acquisition", "view/priorities/_nav")
              %br/
            - elsif false
              = link_to tr("Propose an acquisition", "view/priorities/_nav"), new_priority_change_url(@priority), :title => tr("Is there another priority this one should merge with?", "view/priorities/_nav"), :class => "qtip_left"
              %br/
            - if logged_in?
              - if (current_user.id == @priority.user_id and @priority.endorsements_count < 2) or current_user.is_admin?
                = link_to tr("Edit this priority", "view/priorities/_nav"), edit_priority_url(@priority), :title => tr("Edit this priority", "view/priorities/_nav"), :class => "qtip_left"
                %br/
              - if current_user.is_admin?
                = link_to tr("Update this priority's status", "view/priorities/_nav"), update_status_priority_url(@priority), :title => tr("Update this priority's status", "view/priorities/_nav"), :class => "qtip_left"
                %br/
                = link_to tr("Delete this priority", "view/priorities/_nav"), @priority, :title => tr("Permanently delete this priority", "view/priorities/_nav"), :confirm => tr("Are you sure you want to permanently delete {priority_name}?", "view/priorities/_nav", :priority_name => @priority.name), :method => :delete
                %br/
            %p
