- if priority.status == 'buried'
  %td{:align => "center", :colspan => "3", :valign => "top"}
    .position_nochange= tr("delisted", "view/priorities/_rank_week_month")
- elsif priority.status == 'inactive'
  %td{:align => "right", :colspan => "2", :height => "20", :valign => "top", :width => "60"}
    .priority_inactive
      = official_status(priority)
- else
  %td.priority_rank{:align => "left", :valign => "top", :width => "10"}
    - if priority.position != 0
      .priority_position{:title => tr("This is the {position} highest ranked priority across all {instance_name} members.", "view/priorities/_rank_week_month", :position => priority.position, :instance_name => tr(current_instance.name,"Name from database"))}
        = priority.position
  - if priority.is_new?
    %td{:align => "left", :valign => "top", :width => "30"}
      .position_new= tr("new", "view/priorities/_rank_week_month")
  - elsif priority.position_7days_change == 0 and priority.position_30days_change == 0
    %td{:align => "center", :colspan => "1", :valign => "top", :width => "30"}
      .position_nochange{:title => tr("This priority hasn't moved up or down in the rankings at all this month.", "view/priorities/_rank_week_month")}= tr("UNCH", "view/priorities/_rank_week_month").upcase
  - else
    %td{:colspan => "0", :valign => "top", :width => "30"}
      - if priority.position_7days_change > 0
        .position_up{:title => tr("This priority moved up {count} spots in the rankings this week", "view/priorities/_rank_week_month", :count => priority.position_7days_change.abs)}= priority.position_7days_change.abs
      - elsif priority.position_7days_change < 0
        .position_down{:title => tr("This priority moved down {count} spots in the rankings this week", "view/priorities/_rank_week_month", :count => priority.position_7days_change.abs)}= priority.position_7days_change.abs
    - if false and priority.position_30days_change > 0
      %td.left_scale{:valign => "top"}
        .position_up{:title => tr("This priority moved up {count} spots in the rankings this month", "view/priorities/_rank_week_month", :count => priority.position_30days_change.abs)}= priority.position_30days_change.abs
    - elsif false and priority.position_30days_change < 0
      .position_down{:title => tr("This priority moved down {count} spots in the rankings this month", "view/priorities/_rank_week_month", :count => priority.position_30days_change.abs)}= priority.position_30days_change.abs
