.priority_tags{:id => "priority_#{priority.id}_tags"}
  - if logged_in? and (current_user.is_tagger? or current_user.is_admin?)
    - for tag in priority.issues
      %span.tag_name= link_to tr(tag.title,"model/category"), :controller => "issues", :slug => tag.slug
      %span.tag_count= tag.priorities_count
  - elsif priority.attribute_present?("cached_issue_list")
    = tags_sentence(priority.cached_issue_list)
  - if logged_in? and (current_user.is_tagger? or current_user.is_admin?)
    %span.tag_button
      = link_to "tag", tag_priority_path(priority), |
        :method => :post,                           |
        :remote=>true,                              |
        'data-disable-with' => "",                  |
        'data-loader-name' => "horizontal_small"    |
