%table.top-level-table.top_level.single2
  - for priority in priorities
    - if endorsements
      - endorsement = endorsements.detect {|e| e.priority_id == priority.id }
    %tr.border
      %td.top_listing
        %table
          %tr
            %td{:width => "20"}
              = image_tag("new/plus.png", :id=>"plus_for_#{priority.id}", :alt => "plus-icon", :class => "plus_sign")
              :javascript
            jQuery("#plus_for_#{priority.id}").click(function () {
                  var slide = jQuery("#points_overview_for_#{priority.id}");
                  if (!slide.data("loaded")) {
                      slide.load('#{points_overview_priority_url(priority)}');
                      slide.data("loaded", true);
											$('.border').css('border-bottom','none');
                  } else {
                      slide.slideToggle("slow");
											$('.border').css('border-bottom','none');
                  };
              });
            jQuery("#plus_for_#{priority.id}").toggle(
              function () {
                jQuery("#plus_for_#{priority.id}").attr("src", "#{image_path("new/minus.png")}");
              },
              function () {
                jQuery("#plus_for_#{priority.id}").attr("src", "#{image_path("new/plus.png")}");
              }
            );
                      - if defined? timeago
              %td{:style => "width:50px"}
                %table
                  %tr
                    %td.category_icon
                      - if priority.category and priority.category.icon
                        = image_tag priority.category.icon.url(:icon_50), :size => "50x50", :border => 0
                  %tr
                    %td
                      %span.priority_added
                        = time_ago(priority.created_at)
            - else
              %td.category_icon
                - if priority.category and priority.category.icon
                  = image_tag priority.category.icon.url(:icon_50), :size => "50x50", :border => 0
            %td{:width => "5"}
              = render :partial => "priorities/rank_week_month", :locals => {:priority => priority }
            %td.left_scale{:colspan => "3", :valign => "top"}
              .top_level_priority_listing{:id => "priority_#{priority.id}"}
                = render :partial => "priorities/listing", :locals => {:priority => priority, :endorsement => endorsement, :value => 0}
    %tr
      %td
        %div{:id => "points_overview_for_#{priority.id}"}
