= render :partial => "header"
= render :partial => "nav"
%p
  - if @priority.has_tags? and @priority.relationships_count > 0 and @priority.endorsements_count > 3
    = tr("What other priorities do they endorse?", "view/priorities/endorsers")
    %p
      - for relationship in @priority.relationships.endorsers_endorsed.by_highest_percentage.find(:all, :limit => 5, :include => :other_priority)
        = tr("{percentage} endorse {priority_name}", "view/priorities/endorsers", :percentage => number_to_percentage(relationship.percentage, :precision => 0), :priority_name => link_to(relationship.other_priority.name, relationship.other_priority))
        %br/
  - cache("priority_#{@priority.id.to_s}_endorsers_#{@priority.up_endorsements_count}-#{session[:locale]}-#{@inline_translations_enabled}", :expires_in => 12.hours) do
    - @priority.endorsements.active_and_inactive.endorsing.by_position.find(:all, :include => :user, :limit => 500).group_by { |e| e.position }.each do |position, endorsements|
      .subhead= tr("Priority {position}", "view/priorities/endorsers", :position => position)
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        - endorsements.in_groups_of(4) do |row_endorsements|
          %tr
            - for endorsement in row_endorsements
              - if endorsement
                %td{:style => "padding: 0px 5px 5px 0px;", :valign => "top", :width => "150"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                    %tr
                      %td{:valign => "top", :width => "24"}
                        = render :partial => "users/pic_48", :locals => {:user => endorsement.user}
                      %td{:style => "padding-left: 5px;", :valign => "top"}
                        = link_to endorsement.user.name, endorsement.user
                        .small= time_ago(endorsement.created_at)
              - else
                %td{:style => "padding-bottom: 5px;", :width => "150"} &nbsp;
  - if @priority.up_endorsements_count > 500
    %p= tr("Only displaying the top 500 endorsers", "view/priorities/endorsers")
