- endorsement = nil
#hp_intro= current_instance.prompt
%table{:background => "red", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:valign => "top"}
      - if @issues.total_pages > 1
        %p
          = will_paginate (@issues)
      - for tag in @issues
        .home_issue
          .home_issue_name
            %a{:href => "/issues/#{tag.slug}"}= tr(tag.title,"model/category")
          - if tag.top_priority
            .home_issue_priority{:id => "priority_#{tag.top_priority_id}"}
              = tr("Top:", "view/priorities/index")
              %span.home_issue_priority_name= link_to tag.top_priority.name, tag.top_priority
              %br/
              = render :partial => "priorities/action_show", :locals => {:priority => tag.top_priority, :endorsement => (@endorsements.detect {|e| e.priority_id == tag.top_priority_id } if @endorsements) }
          - if tag.controversial_priority
            .home_issue_priority{:id => "priority_#{tag.controversial_priority_id}"}
              = tr("Controversial:", "view/priorities/index")
              %span.home_issue_priority_name= link_to tag.controversial_priority.name, tag.controversial_priority
              %br/
              = render :partial => "priorities/action_show", :locals => {:priority => tag.controversial_priority, :endorsement => (@endorsements.detect {|e| e.priority_id == tag.controversial_priority_id } if @endorsements)}
          - if tag.rising_priority
            .home_issue_priority{:id => "priority_#{tag.rising_priority_id}"}
              = tr("Rising:", "view/priorities/index")
              %span.home_issue_priority_name= link_to tag.rising_priority.name, tag.rising_priority
              %br/
              = render :partial => "priorities/action_show", :locals => {:priority => tag.rising_priority, :endorsement => (@endorsements.detect {|e| e.priority_id == tag.rising_priority_id } if @endorsements)}
      %p
        = will_paginate (@issues)
    %td{:style => "padding-left: 20px;", :valign => "top", :width => "160"}
      %p
        - if logged_in? and current_user.endorsements_count > 4
          = render :partial => "users/index_chart", :locals => {:user => current_user }
        - @finished = Priority.finished.by_most_recent_status_change.all(:limit => 5)
        - if @finished.any?
          %p
          .heading= tr("Recently finished", "view/priorities/index")
          - for priority in @finished
            .priority_finished
              = link_to_unless_current h(priority.name), priority, :class => "priority_name_link"
              %br/
              = official_status(priority)
              %span.priority_finished_time= time_ago(priority.status_changed_at)
          = tr("See all <a href='{url}'>finished priorities</a>", "view/priorities/index", :url => finished_priorities_url)
          \&rarr;
- if @issues.current_page == 1 and @issues.size > 0
  = tr("<p>You can also <a href=\"/issues\">browse all {instance.tags_name_plural | downcase}</a>, see the <a href=\"/priorities/top\">top ranked priorites</a>, <a href=\"/priorities/random\">random priorities</a>, or the <a href=\"/priorities/rising\">fastest rising priorities</a>.</p>", "view/priorities/index")
