- if @priorities.any?
  .priorities-wrapper
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td{:align => "right", :style => "padding-right: 5px;"}
          %span.nb_table_header= tr("Rank", "view/priorities/list_widget")
        %td{:style => "padding-left: 3px;"}
          %span.nb_table_header= tr("Wk", "view/priorities/list_widget")
        %td{:style => "padding-left: 3px;"}
          %span.nb_table_header= tr("Mo", "view/priorities/list_widget")
        %td
      - for priority in @priorities
        %tr
          - if priority.status == 'buried'
            %td{:align => "center", :colspan => "3", :valign => "top"}
              .nb_position_nochange= tr("delisted", "view/priorities/list_widget")
          - elsif priority.status == 'inactive'
            %td{:align => "right", :colspan => "3", :valign => "top"}
              .nb_priority_inactive
                = official_status(priority)
          - else
            %td{:align => "right", :style => "padding-right: 5px;", :valign => "top", :width => "30"}
              - if priority.position != 0
                .nb_priority_position{:title => tr("This is the {position} highest ranked priority across all {instance_name} members.", "view/priorities/list_widget", :position => priority.position, :instance_name => tr(current_instance.name,"Name from database"))}
                  = priority.position
            - if priority.is_new?
              %td{:align => "center", :colspan => "2", :valign => "top"}
                .nb_priority_position_new= tr("new", "view/priorities/list_widget")
            - elsif priority.position_7days_change == 0 and priority.position_30days_change == 0
              %td{:align => "center", :colspan => "2", :valign => "top"}
                .nb_priority_position_nochange{:title => tr("This priority hasn't moved up or down in the rankings at all this month.", "view/priorities/list_widget")}= tr("UNCH", "view/priorities/list_widget").upcase
            - else
              %td{:style => "padding-left: 2px;", :valign => "top"}
                - if priority.position_7days_change > 0
                  .nb_priority_position_up{:title => tr("This priority moved up {count} spots in the rankings this week", "view/priorities/list_widget", :count => priority.position_7days_change.abs)}= priority.position_7days_change.abs
                - elsif priority.position_7days_change < 0
                  .nb_priority_position_down{:title => tr("This priority moved down {count} spots in the rankings this week", "view/priorities/list_widget", :count => priority.position_7days_change.abs)}= priority.position_7days_change.abs
              %td{:style => "padding-left: 3px;", :valign => "top"}
                - if priority.position_30days_change > 0
                  .nb_priority_position_up{:title => tr("This priority moved up {count} spots in the rankings this month", "view/priorities/list_widget", :count => priority.position_30days_change.abs)}= priority.position_30days_change.abs
                - elsif priority.position_30days_change < 0
                  .nb_priority_position_down{:title => tr("This priority moved down {count} spots in the rankings this month", "view/priorities/list_widget", :count => priority.position_30days_change.abs)}= priority.position_30days_change.abs
          %td.nb_priority_name_cell{:colspan => "3", :valign => "top"}
            .nb_priority{:id => "nb_priority_#{priority.id}"}
              .nb_priority_name{:id => "nb_priority_name_#{priority.id}"}
                = link_to h(priority.name), priority_url(priority, :only_path => false), :class => "nb_priority_name_link", :id => "nb_priority_name_link_#{priority.id.to_s}"
              #nb_priority_endorsements
                = render :partial => "priorities/endorsement_count", :locals => {:priority => priority}
