- if @priorities and @priorities.any?
  - if ['finished','yours_finished'].include?(params[:action])
    %ul
  - elsif ['yours'].include?(params[:action])
    <ol start=#{@priorities[0].position}>
  - else
    %ol
  - for e in @priorities
    - if [Endorsement].include?(e.class)
      - priority = e.priority
    - else
      - priority = e
    - if ['yours','network'].include?(params[:action])
      %li
    - else
      %li{:value => priority.position}
    %span.nb_priority_name
      = link_to h(priority.name), priority_url(priority, :only_path => false), :class => "nb_priority_name_link", :id => "nb_priority_name_link_#{priority.id.to_s}"
    - if priority.status == 'inactive'
      %span.nb_priority_finished_status= official_status(priority)
    - if not priority.status == 'inactive'
      %br/
      %span.nb_priority_position_status
        - if priority.position != 0 and params[:action] == 'yours'
          = tr("Priority {position}", "view/priorities/list_widget_small", :position => priority.position)
          ,
        - if priority.is_new?
          = tr("new this week", "view/priorities/list_widget_small")
        - elsif priority.position_7days_change > 0
          = tr("up {count} spots this week", "view/priorities/list_widget_small", :count => priority.position_7days_change.abs)
        - elsif priority.position_7days_change < 0
          = tr("down {count} spots this week", "view/priorities/list_widget_small", :count => priority.position_7days_change.abs)
        - else
          = tr("no change this week", "view/priorities/list_widget_small")
  - if ['yours','finished','yours_finished'].include?(params[:action])
  - else
- else
  No priorities yet.
