- if Instance.current.message_to_users and Instance.current.message_to_users!="" and not current_sub_instance
  = render :partial=>"/shared/top_message_box", :locals=> {:message_text => Instance.current.message_to_users.html_safe }
- if Priority.filtered.count == 0
  %br/
  %h2= tr("No priorities have been created. Be the first to create a priority for your country!","portal")
  = render :partial => "priorities/new_button_hack"
  %br/
- else
  - ["1","2"].each do |id_name|
    %div{:class => "column ui-sortable column_id_#{id_name}", :id => id_name, :style => "-moz-user-select: none;", :unselectable => "on"}
      = render(:partial => "column", :locals=>{:column_number=>id_name.to_i})
- unless @activities.blank?
  %ul#endless_scroll_ul.list{:last => @activities.to_a.last.changed_at}
    = render :template => 'news/activity_list_simple'
  #infinite-scroll
  .endless_scroll_inner_wrap
