  .portlet.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{:id => portlet.id}
    .portlet-header.ui-widget-header.ui-corner-all
      - if current_user and current_user.is_admin?
        %span.delete-portlet-button.ui-icon.ui-icon-circle-close{:id => portlet.id}
        %span.collapse-portlet-button.ui-icon.ui-icon-circle-minus
        %span.ui-icon.ui-icon-arrow-4-diag
      = tr(portlet.portlet_template.name, "view/portal/_portlet_header")
      - if portlet.portlet_template.name.downcase == "top"
        %select{:name => "top_priorities_select", :onchange => "OnChangeTopPriorities(this);"}
          %option{:selected => ""}= tr("24 hour", "view/portal/_portlet_header")
          %option= tr("7 days", "view/portal/_portlet_header")
          %option= tr("30 days", "view/portal/_portlet_header")
          %option= tr("All", "view/portal/_portlet_header")
        %script{:language => "javascript"}
          /
            function OnChangeTopPriorities(dropdown)
            {
            var myindex  = dropdown.selectedIndex
            jQuery('#<haml:loud>&amp;quot;portlet_contents_\#{portlet.id}&amp;quot;</haml:loud>').load("/portal/load_column_item?portlet_id="+<haml:loud>portlet.id</haml:loud>+"&amp;dyn_type="+myindex, function() {
            FB.XFBML.parse(document.getElementById('<haml:loud>&amp;quot;portlet_contents_\#{portlet.id}&amp;quot;</haml:loud>'));
            });
            return true;
            }
            \//
    .portlet-content
