%h1= tr("Our rules", "view/about/rules")
.rules
  %h5= tr("By signing up for {instance_name} I declare:", "view/about/rules", :instance_name => tr(current_instance.name,"Name from database"))
  %ul
    %li= tr("Information given about myself is correct and I can recive and read email sent to the email address I supply. ", "view/about/rules")
    %li= tr("I take full responsibility for content I create and for others not useing my account. ", "view/about/rules")
    %li= tr("I will be courteous on YP", "view/about/rules")
    %li= tr("Content i add to YP is free for others to use, distribute, change and add to. ", "view/about/rules")
    %li= tr("I will obey the laws of my country.", "view/about/rules")
    %li= tr("I will not publish advertisemens or spam users of YP.", "view/about/rules")
    %li= tr("I will not use YP to bully others nor in any way threaten or persecute other users or publish misleading or malicious content. ", "view/about/rules")
    %li= tr("I will inform the admins of YP if I see content that breaks these rules by clicking the notification icon. ", "view/about/rules")
    %li= tr("I will only create and use one user on YP. ", "view/about/rules")
  %h5= tr("We promise to: ", "view/about/rules")
  %ul
    %li= tr("Do our best to make YP stay open and fully functional. ", "view/about/rules")
    %li= tr("We will not divulge data about that is not publicly available on YP without a court order. ", "view/about/rules")
  %h5= tr("We reserve the right to:", "view/about/rules")
  %ul
    %li= tr("Respond to all violations of those rules or local laws in any way needed, including removing content and reporting to the authorities. ", "view/about/rules")
    %li= tr("Close accounts of users that repeatedly break those rules. With every violation a user gets sent an email and on the fourth violation the user is banned from the system. ", "view/about/rules")
    %li= tr("Change these rules without prior notice. We will send an announcement of such changes in email to the email address that you have registered with us. ", "view/about/rules")
  %h5= tr("Finally:", "view/about/rules")
  %ul
    %li= tr("YP is run by the non-profit organisation Citizens Foundation (http://www.citizens.is) and is not endorsed by local governments. ", "view/about/rules")