.col-group
  .col-10.col-offset-1
    .col-content
      %h1= tr("About {instance_name}", "view/about/index", :instance_name => tr(current_instance.name, "Name from database"))
      %br
      %ul
        %li
          = tr("Your Priorities is operated by the non-profit Citizens Foundation.", "view/about/index")
          %br
          %br
          = "<a href='http://www.citizens.is/'>www.citizens.is</a>".html_safe
          %br
          = "<a href='https://www.facebook.com/Citizens.is'>www.facebook.com/Citizens.is</a>".html_safe
          %br
          = "<a href='http://twitter.com/citizensFNDN'>twitter.com/citizensFNDN</a>".html_safe
          %br
          %br
            = raw "<a href='mailto:citizens@citizens.is'>citizens@citizens.is</a>"
          %br
        %li
          %b= tr("Socialise Innovation!", "view/about/index")
        %li
          = tr("We offer a new way to discuss, debate and communicate ideas within your organisation.", "view/about/index")
        %li
          = tr("We are adapting ideas from social networking tools and focusing them to generate innovation.", "view/about/index")

      %br
      %ul
        %li
          %b= tr("How it works", "view/about/index")
        %li
          = tr("Users can:", "view/about/index")
        %li
          = tr("Put forth their ideas", "view/about/index")
        %li
          = tr("Add arguments for and against all ideas", "view/about/index")
        %li
          = tr("Engage in discussions about ideas", "view/about/index")
        %li
          = tr("Support or oppose ideas and arguments", "view/about/index")
        %li
          = tr("The end result is that top ideas and arguments are collated for management to improve and progress the company", "view/about/index")
      %br
      %ul
        %li
          %b= tr("Open Source software", "view/about/index")
          %br
          = raw "The software running Your Priorities is called Social Innovation and is open source. You can download it from <a href='https://github.com/rbjarnason/social_innovation'>https://github.com/rbjarnason/social_innovation</a> and it was created by Robert Bjarnason, Gunnar Grimsson, Hinrik Örn Siguðrsson, Dave Parsons, Jim Gilliam and <a href='/about/contributors'>many others</a>."

