!!!
%html{:lang => "is", "xml:lang" => "is", :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @page_title || tr(current_instance.name,"Name from database")
    = render :partial => "shared/description"
    = render :partial => "shared/head"
    = render :partial => "shared/javascripts"
    = render :partial => "shared/css"
    - if controller_name == "users"
      = stylesheet_link_tag "fb_invite_hack"
    - if ["users","sessions"].include?(controller_name)
      = stylesheet_link_tag "jquery.keypad.css"
      = javascript_include_tag "jquery.keypad.min.js"
    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"
    = tr8n_scripts_tag
  %body{:class => "#{h(controller.controller_name)}-#{h(controller.action_name)}"}
    = csrf_meta_tag
    #backgroundwrap
      #header
        %table
          %tr
            %td= render :partial => "shared/branding/dynamic"
            %td= render :partial => "ads/pick"
      #contentwrap
        = render :partial => "shared/menu"
        = flash_div :warning, :notice, :error
        #content_text
          = yield :layout
      = render :partial => "shared/sidebar"
      .push
    = render :partial => "shared/footer"
    = render :partial => "shared/analytics"
    = render :partial => "shared/facebook_footer"
    = render :partial => "shared/google_translate"
