!!!
%html{:lang => I18n.locale, "xml:lang" => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= @page_title || tr(current_instance.name,"Name from database")
    = render :partial => "shared/description"
    = render :partial => "shared/head"
    = render :partial => "shared/javascripts"
    = render :partial => "shared/css"
    = render :partial => "shared/analytics"
    - if controller_name == "ideas" and action_name == "show"
      = render :partial=>"ideas/fb_og_tags"
    = tr8n_scripts_tag
  %body
    = csrf_meta_tag
    .page
      = render :partial => "shared/top_banner"
      .main
        .nav.nav-main
          = render :partial => "shared/side_navigation"
        #content.content
          .content-wrap.col-group
            .col-12
              .col-content
                = flash_div :warning, :notice, :error
                - unless controller_name == "home" && action_name == "world"
                  = render :partial => "ads/pick"
                  = render :partial => "shared/sub_navigation"
                = yield :layout
      = render :partial => "shared/facebook_footer"

